<!DOCTYPE html>
<html>
  <head>
    <title>Monterail Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <div id="modal-container"></div>
    <div id="edit-modal-container"></div>
  </body>
</html>